<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <%- include("home.ejs") %>
    <br>
    
        <div class="form" >
            <form name="frm" action="/validate" method="post"> 
            
            <input type="text" name="username" id="I1" placeholder="Enter Username" ><br>
            <input type="password" name="password"  placeholder="Enter Password" ><br>
            <input type="submit" name="Submit" id="I6" value="Login " class="Control"><br>
           
           <p class="message"><%= msg %></p>

            </form>
    </div>

</body>
</html>